.h1{
  font-family: 'Play', sans-serif;
}

.wrapper {
  display: grid;
}

.item {
  flex: 0 9%;
  height: 100px;
  width: 100px;
  /* margin-bottom: 2%; (100-32*3)/2 */
  background-color: #ccc;
  border-style: solid;

}
/* .grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(10, 1fr);
}

div > div {
  padding-top: 4px;
  padding-right: 1px;
  padding-bottom: 4px;
  padding-left: 1px;
  width: 10px;
  
  background-color: #ccc;
  text-align: center;
  font-size: 5px;
} */