body {
  font-family: 'Play', sans-serif;
}

h1, h3, #logs-title, #test{
  text-align: center;
}

td {
  width: 55px;
  height: 55px;
  padding: 5px;
  border-radius: 10%;
}

td.boardspace {
  border-radius: 10%;
  text-align: center;
}

.flex-container {
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  width: 1310px;
  height: auto;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 15px;
  padding: 5px;
  border-radius: 1%;
  /*line-height: 75px;
  font-size: 30px;*/
}

#board-div {
  width: auto;
  height: auto;
  padding: 10px;
}

#logs-div {
  margin-left: 0px;
  width: 400px;
  height: auto;
}

/* .item {
  flex: 0 9%;
  height: 100px;
  width: 100px;
  margin-bottom: 2%; (100-32*3)/2
  background-color: #ccc;
  border-style: solid;

} */
/* .grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(10, 1fr);
}

div > div {
  padding-top: 4px;
  padding-right: 1px;
  padding-bottom: 4px;
  padding-left: 1px;
  width: 10px;
  
  background-color: #ccc;
  text-align: center;
  font-size: 5px;
} */